PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cluster0.g6xesjf.mongodb.net/dargah-paradb?retryWrites=true&w=majority&appName=Cluster0
JWT_ACCESS_SECRET=replace_with_a_long_random_secret
JWT_ACCESS_EXPIRES_IN=7d
IMGBB_API_KEY=replace_with_imgbb_api_key

